.navbar {
    background-color: #216353;
    width: 80%;
    top: 2px;
    margin: auto;
    z-index: 1;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin: 0 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #DDDDDD;
    font-family: sans-serif;
    font-weight: 200;
}