<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <!-- <a class="navbar-brand">Brand</a> -->
    <button (click)="toggleNavbar()" class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="my-nav" class="navbar-collapse" [ngClass]="{'collapse': !navbarOpen}">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/projects">Projects</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
        </ul>
    </div>
</nav>
