<section class="footer">
    <div class="row">
        <div class="footer-info col-sm-4"></div>
        <div class="footer-reach-out col-sm-4">
            REACH OUT
        </div>
        <div class="footer-connect col-sm-4">
            CONNECT
        </div>
    </div>
    <div class="footer-disclaimer">
        All Rights reserved. Copyright @2020

    </div>
</section>