<section class="contact-section">
    <div class="row">
        <div class="contact-form col-sm-8">
            <h1 class="contact-heading">Shoot an email: </h1>
            <div class="contact-email">
                <input type="email" id="email" placeholder="abc@email.com" class="form-control">
            </div>
        
            <div class="contact-message">
                <textarea name="message" id="message" cols="20" rows="5" placeholder="Your message here..." class="form-control"></textarea>
            </div>
            <button class="contact-button btn btn-light" type="button">Send</button>
        </div>
        <div class="contact-quote col-sm-4">

        </div>
    </div>
    
</section>
<aside>
    Helo
</aside>
