.contact-section {
    color: white;
    width: 80%;
    margin: auto;
}
.contact-heading {
    // font-size: 3rem;
}
.contact-form {
    margin-top: 6em;
}

.contact-quote {
    margin-top: 6em;
    // border: 1px solid white;
}

.contact-email {
    margin-top: 2em;
}
.contact-message {
    margin-top: 1em;
}
.contact-button {
    margin-top: 2em;
    float: right;
    width: 10em;
}
