.top-navigation {
    padding: 20px;

    a {
        font-size: 18px;
        text-decoration: none;
        color: #383e56;
    }
    // background: blue;
}

.content {
    width: 60%;
    margin: auto;
    @media only screen and (max-width: 780px) {
        width: 84%;
    }
}

.profile-pic {
    margin-top: 20px;
    // padding: 20px;
    // background: red;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 45%;
    }
    .image {
        width: 120px;
        min-height: 120px;
        max-height: auto;
        float: left;
        margin: 3px;
        padding: 3px;
    }
}

.intro {
    margin-top: 20px;
    // padding: 20px;
    // background: green;
}

.contact-me {
    margin: 20px 0 50px;

    &-title {
        margin-bottom: 20px;
    }
    // padding: 20px;
    // background: magenta;
}

.media-links {
    padding: 15px 0;
    font-size: 20px;
    color: rgb(7, 43, 7);

    &-item {
        text-decoration: none;
        color: #1a2c5e;
    }
}

.blog {
    margin-top: 50px;
    margin-bottom: 10   0px;
    // background: magenta;

    &-title {
        margin-bottom: 20px;
    }
    &-post {
        // padding: 20px 0;
        background: white;
    }

    &-list{
        // list-style: none;
        padding-left: 15px;
        // margin: 0;
    }

    &-item {
    }
}
