<div class="container">
    <nav class="top-navigation">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">

            <a href="#about">About</a>
            <a href="#blog">Blog</a>
            <a href="#contactme">Contact Me</a>
        </div>
    </nav>
    <div class="content" fxLayout="column">

        <div class="profile-pic">
            <div class="image">
                <img src="../assets/images/me.jpg" alt="rajan's profile photo">
            </div>
        </div>


        <section class="intro" id="about">
            <h2>
                Hi, I am Rajan
            </h2>

            <p>I am a Software Engineer having {{exp.toFixed(1)}} years of expreience in Frontend & Backend development. <br> I am
                passionate about creating awesome stuff using latest tools and technologies which makes life easier and
                more enjoyable.</p>
            <p>I specialize in software development using JavaScript and related technologies. My other areas of
                interest are DevOps, Cloud and SRE.</p>

            <p>
                At other times, I like reading books or just browsing through the twitter feed looking at cute
                videos of adorable things.
            </p>
        </section>


        <section class="blog" id="blog">
            <div class="blog-title" fxLayout="row" fxLayoutAlign="start center">
                <h5>Posts</h5>
            </div>


            <div class="blog-post">
                <ol class="blog-list">
                    <li class="blog-item">
                        <a href="">My Journey as a developer (coming soon)</a>
                    </li>
                </ol>
            </div>


        </section>

        <section class="contact-me" id="contactme">
            <div class="contact-me-title" fxLayout="row" fxLayoutAlign="start center">
                <h5>Get In Touch</h5>

            </div>
            <div fxLayout="column">

                <a href="mailto:rajan.kr2222@gmail.com">rajan.kr2222@gmail.com</a>
                <a href="tel:+91-7033194911">+91-7033194911</a>
            </div>

            <div fxLayout="row" class="media-links" fxLayoutGap="10px">
                <a class="media-links-item" href="https://www.linkedin.com/in/rajan-kumar-23552864/">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a class="media-links-item" href="https://twitter.com/rajan_001">
                    <i class="fab fa-twitter"></i>
                </a>

                <a class="media-links-item" href="https://github.com/rajan448">
                    <i class="fab fa-github"></i>
                </a>

                <a fxHide.gt-xs class="media-links-item" href="https://api.whatsapp.com/send?phone=917033194911">
                    <i class="fab fa-whatsapp"></i>
                </a>

            </div>

        </section>



    </div>
</div>